@media(max-width:991px){
    .menu{
        display: none;
    }
    .menu-icon{
        display: block;
        width: 80%;
        text-align: right;
    }
    .menu-icon span{
        font-size: 25px;
    }
    .item , .member{
        width: 49%;
        margin-bottom: 35px;
    }

}
@media(max-width:575px){
    .item,.member{
        width: 100%;
    }

}